body {
  padding: 0px 10px;
  font-family: Georgia;
  max-width: 2000px;
  margin: 0 auto;
  font-size: 10pt;
}

li {
  line-height: 20px;
  padding: 0px 5px;
}

.image{
  height: auto;
  width: 2200px;
  padding-left: 20px;
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.images{
display:inline-block;
width: 650px;
height: 64px;
}

.linkedpage{
  text-align: center;
  padding-bottom: 100px;
  padding-top: 50px;
  line-height: 40px;
}

div {
  line-height: 20px;
}

.procedural{
  text-align:center;
  text-decoration: underline;
}

.abstract{
  text-align:center;
  text-decoration: underline;
}

.systems{
  text-align:center;
  text-decoration: underline;
}

.technological{
  text-align: center;
  text-decoration: underline;
}

.debugging{
  text-align: center;
  text-decoration: underline;
}
